<div class="container">
  <div class="header">
    <h1 class="display-2">List Of all the projects</h1>
  <button  class="btn btn-grad mb-2 rounded-pill shadow-sm" (click)=createOwnProject()>Create Your Own project</button>
   
  </div>
    <div class="card" *ngFor="let data of Allproject" style="margin-top: 20px;">
        <h3 class="card-header" style="background-color:#adb8ae;"><b>{{data.project_name}}</b></h3>
        <div class="card-body">
            <p><b>Project Description</b></p>
          <p class="card-text">{{data.project_description}}</p>
          <p><b>Expected project deadine</b></p>
          <p>{{data.deadline| date:'yyyy-MM-dd'}}</p>
    
          <div style="float: right;" >
          <button mat-raised-button (click)="getDetailedProject(data)" color="primary" style="margin-right: 15px;">Details</button>
          <!-- <button mat-button color="warn" (click)="onClickToDeletProject(data)">Delete Project</button> -->
          </div>
    
        </div>
      </div>
    </div>