.card{
    border: 1px solid #2E4053;
  }
.card-header{
    background-color:#2471A3 ;
  }
.title{
    text-align: center;
    color: #F7F9F9;
    background-color:#2471A3 ;
    font-weight: 400;
    font-size: 23px !important;
  }

  
.btn{
	background-color: #2E4053;
	color: #F7F9F9;
	text-decoration: none;
	border: 0px;	
}


.btn:hover{
	color: #f7f9f9cb;
}
.btn:active:focus
{
	border-color: #F7F9F9;
	background-color: #2E4053;;
}