.title{

	font-weight: 400 ;
	color:  #2471A3;
	font-size: 30px;

}

.card-header{
    font-size: 20px;
    background-color: #2471A3;
    color: #F7F9F9;
}

.sub-heading{
    font-weight: 300 ;
	color:  #2471A3;
	font-size: 15px;
}


	.spinner-mat ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
		stroke: #2E4053;
	  }

	  .dark-overlay{
		background-color: rgba(0,0,0,0.7);
		position: absolute; 
		top:0;
		left:0;
		width: 100%;
		min-height:805px;
	}
	